body{
margin: 0;
color: #40514E;
text-align: center;
}
h1{
    margin-top: 0;
    font-size: 5.62rem;
    margin: 50px auto 0px auto;
    color:  #66BFBF;
    font-family: 'Sacramento', cursive;
}
h2{
    color:  #66BFBF;
    font-size: 2.5rem;
    font-weight: normal;
}
h3{
    color:  #11999E;
}
p{
    color: #40514E;
    line-height: 2;
    padding-bottom: 20px;
    margin-bottom: 0;
    

}
hr{
    color: lightgrey;
    border: dotted;
    border-bottom: none;
    margin: 100px auto;
    width: 4%;
}
a{
    margin: auto 15px;
    color: #11999E;
   
}



span{
    text-decoration: underline;
}
.top-container{
   
    background-color: #E4F9F4;
    position:relative;
    padding-top: 100px;
    
   
    
    text-align: center;
    
  

}
.cloud-bottom{
    
    position: absolute;
    left: 350px;
    bottom: 300px;
   
}
.cloud-top{
    position:absolute;
    right: 350px;
    top: 50px;
}
.middle-container{
    text-align: center;
}



.footer-link{
    color:  #11999E;
}
.p-img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 50px auto ;
}
.skill-row{
    width: 50%;
   margin: 100px auto;
   text-align: left;
   line-height: 2;

}
.skill-img{
    border-radius: 50%;
    float: left;
    margin-right: 30px;
    width: 25%;

}
.java-img{
    border-radius: 50%;
    float: right;
    margin-left: 30px;
    width: 25%;

}
.intro{
    width: 40%;
  
    margin-left: 30%;
}
.btn {
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 100;
    padding: 14px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-bottom: 25px;
 }
 
 .btn:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }
 .bottom-container{
    background-color: #66BFBF;
    padding-top: 15px;
 }
 
